.gsd-keyboard.settings-ported
QtProject.conf
Signal/
dconf/
discord/
dotfiles/
evolution/
fish/functions/cd.fish
gnome-xdg-terminals.list
htop/
keepassxc/
mimeapps.list
nvim/
octave/
pavucontrol.ini
pulse/
spotify/
systemd/
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
